<!DOCTYPE html>
<html>
<head>
  <title>ActionCableReact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <ul class="header">
      <%= render Topic.all %>
    </ul>
  <% end %>

<%= yield %>

</body>
</html>
